.fa_search {
  position: absolute;
  left: 20px;
  top: 12px;
}

.fa_times {
  position: absolute;
  right: 20px;
}

.form_inline {
  position: relative;
  width: 50% !important;
}

.search_bar {
  width: 100% !important;
  border: none;
  border-radius: 5%;
  padding: 10px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  background-color: lightblue;
  border: none;
  border-radius: 5%;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info {
  text-align: center;
  font-size: 24px;
  color: #333333;
  font-style: italic;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}